
.question-count,
.exam-duration{
  padding: 0.7rem;
  margin: 0 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;

  background-color: var(--accent-color);
  color: var(--text-color-dark);
  border-radius: 15px;
  box-sizing: border-box;
}

#time-bar{
  width: 100%;
  height: 10px;
  border: 1px solid var(--border-color);
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin: 1rem 0 2rem 0;
  transition: all 0.2s ease-in-out;
}

#progress-bar{
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  width: 100%;
  min-width: 5%;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#progress-bar span{
  /* position: absolute; */
  transform: translateX(10%);
  min-width: 60px;
  background-color: #fff;
  padding: 0.35rem;
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--border-color);
  line-height: 1;
}

.quiz-card{
  padding: 0 0 2rem 0;
  overflow: hidden;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.quiz-card_top.correct{
  background-color: var(--correct-color);
}

.quiz-card_top.incorrect{
  background-color: var(--incorrect-color);
}

.quiz-card_top{
  width: 100%;
  background-color: var(--text-color-dark);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1.2rem;
  transition: all 0.4s ease-in-out;
}

.quiz-card_top-title{
  margin: 0;
  padding: 1rem;
  color: white;
}

.quiz-card .card-details{
  padding: 1rem 1.5rem 0rem 1.5rem;
  box-sizing: border-box;
}

.submit-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#exam-submit{
  width: 20%;
}



input + span{
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  font-size: 0.8rem;
  border: 2px solid var(--border-color);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

input[type="checkbox"]:checked + span,
input[type="radio"]:checked + span{
  background-color: var(--text-color-dark);
  color: white;
}




@media (max-width:992px){
    
}

@media (max-width:768px){
    input{
      padding: 0.8rem;
    }
}

@media (max-width:576px){
  input{
    padding: 0.5rem;
  }

  

  .quiz-list-heading.flex-between{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-top.flex-between{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-top input:read-only{
    text-align: center;
  }

  .card-top .card-details{
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}

@media (max-width:992px){
  
}    

@media (max-width: 768px){
   .assigned-exam-post .exam-heading{
    flex-direction: column;
   }
   .assigned-exam-post .exam-duration,
   .assigned-exam-post .question-count{
    padding: 0.5rem;
    font-size: 0.7rem;
   }

   .quiz-card .card-details{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    padding: 0 1rem;
    
   }

   
}

@media (max-width:576px ){
   .quiz-card .card-details span{
    width: 100%;
    display: inline-block;
   }
}

@media (max-width:400px) {
    
}
