/* both */
.selected-items,
.assigned-exam{
    display: inline-block;

    padding: 0.4rem;
    background-color: var(--primary-color);
    font-size: 0.9rem;
    border-radius: 5px;
}

.assigned-exam{
    margin: 0.4rem 0.2rem;
}

/* left */

.card-top_student-more-exams_btn{
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 0.4rem;

    margin-left: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

.card-top_student-more-exams_btn:hover{
    background-color: #FFF;
    transform: scale(1.1);
}

.card-top_student-more-exams_btn svg{
    width: 1rem;
    height: 1rem;
    margin: auto;
    stroke-width: 5px;
}


.dashboard-inst_students_cards-card-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.3rem;
}

.dashboard-inst_students_cards-card-bottom p{
    margin: 0.4rem 4px 0.4rem 0;
}

.dashboard-inst_students_cards-card-bottom_other-exams{
    transition: all 0.3s ease-in-out;
    padding-bottom: 1rem;
}

.dashboard-inst_students_cards-card-bottom_other-exams p{
    margin: 0;
}

.other-exams-content{
    margin: 0;
}

.missing-exam{
    background-color: var(--danger-color);
}

.cancelled-exam{
    background-color: var(--accent-color);
}


/* right container */

.dashboard-inst_exams_cards-card-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.5rem;
    box-sizing: border-box;
    padding: 1rem 0;
}

.create-exam-window,
.manage-exam-overlay{
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.create-exam-window .container,
.manage-exam-overlay .container{
    max-width: 50vw;
    background-color: white;
    text-align: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    padding: 0 2rem 2rem 2rem;
}

.create-exam-window .container h1,
.manage-exam-overlay .container h1{
    margin: 0 0 1rem 0;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--heading-color);
    color:white;
}

.create-exam-window .container p,
.manage-exam-overlay .container p{
    margin: 0.5rem 0;
}

.create-exam-window_input-wrapper{
    margin: 1rem 0 2rem 0;
}

.create-exam-window_input-wrapper label{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.create-exam-window_input-wrapper input{
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--text-color-dark);
    border-radius: 10px;
}

.selected-items_wrapper{
    width: 100%;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.manage-exam_date-input_wrapper{
    margin: 1rem 0 2rem 0;
    column-gap: 1rem;
}

.manage-exam_date-input_wrapper > div{
    column-gap: 1rem;
}

.manage-exam-overlay_selected-exams,
.manage-exam-overlay_selected-students{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
}

#active-exam-btn{
    margin-right: 0.2rem;
}

/* student  */
.dashboard-student > .container{
    padding-bottom: 2rem;
}


.dashboard-student_info .general-info{
    margin: 0 0.3rem;
}

.other-exam_container{
    border-top: 1px solid var(--border-color);
    padding: 1rem 0;
}

.other-exam_container .flex-center{
    justify-content: flex-start;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.other-exam_card_top,
.other-exam_card_bottom{
    flex-direction: column;
}

.other-exam_card_top{
    margin-bottom: 0.5rem;
}

.other-exam_card_top p{
    font-size: 0.9rem;
    margin: 0.2rem 0;
}

.other-exam_card_bottom span{
    padding: 0.4rem;
    border-radius: 10px;
    color: #FFF;
}

.other-exam_card_bottom span.missing-span{
    background-color: var(--danger-color);

}

.other-exam_card_bottom span.cancelled-span{
    background-color: var(--accent-color);

}


@media (max-width:992px){
    /* left & right container */
    .dashboard-student .container-common-flex,
    .dashboard-inst .container-common-flex{
        flex-direction: column-reverse;
    }
   
}    

@media (max-width: 768px){
     /* overlay window */
    .manage-exam-overlay .container,
    .create-exam-window .container{
        max-width: 90vw;
        box-sizing: border-box;
        padding: 0 1rem 1rem 1rem;
    }
}

@media (max-width:576px ){
    .container-right .flex-between:first-of-type{
        flex-direction: column;
        
    }

    .container-right .flex-between:first-of-type h2{
        margin: 0.5rem 0;
    }

    .archive-exam-list{
        margin: 0.5rem 0;
    }

    /* overlay window */

    .manage-exam-overlay .selected-items_wrapper.flex-between{
        
        flex-direction: column;
        row-gap: 1rem;
    }

    .btns-row{
        row-gap: 0.5rem;
        flex-wrap: wrap;
    }

}

@media (max-width:400px) {
    .dashboard-student .other-exam_container .card{
        width: 100%;
    }
}








/* instructor dashboard */
/* 
input[type="submit"]{
    background-color: white;
    color: var(--main-heading-color);
    border: 0;
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.2s;
}

input[type="submit"]:hover{
    color: white;
    background-color: var(--main-background-color);
}


.student-card{
    border: 1px solid white;
    margin: var(--spacing-sm) 0;
}

.student-details{
    border-top: 1px solid var(--color-grey);
}

.student-details .assigned-exams{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assigned-exams h4{
    margin: var(--spacing-sm) 0;
}

.assigned-exam--list{
    display: flex;
    column-gap: var(--spacing-sm);
    font-size: 14px;
    text-align: center;
}

.assigned-exam--title{
    text-transform: capitalize;
}

.delete-assigned-exam-form input[type='submit']{
    padding: 3px 5px;
    font-size: 10px;
}



.exams{
    width: 100%;
}

.add-exam{
    cursor: pointer;
    font-size: 1rem;
}

.exam-input-wrapper{
   display: flex;
   column-gap: var(--spacing-sm);
}

.create-exam-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color);
    row-gap: var(--spacing-sm);
    margin: var(--spacing-sm) 0;
    padding: var(--spacing-lg);
}



.left-block{
    width: 100%;
}

.info-box{
    margin-top: var(--spacing-sm);
    background-color: white;
    border-top: 1px solid var(--color-grey);
}

.score-card{
    flex-direction: column;
    align-items: flex-start;
}
 */
