main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.login-container{
    height: fit-content;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: var(--spacing-sm);
    border-radius: 5px;
    background-color: var(--secondary-color);
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: var(--spacing-md);
}

.login-heading{
    background-color: var(--heading-color);
    padding: var(--spacing-md) 0;
}

h2{
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin: var(--spacing-md) 0;
}

.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    border: 1px solid var(--border-color);
}

.input-wrapper:last-of-type{
    border: none;
}

svg{
    fill: white;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--heading-color);
}

.input-wrapper input{
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    border: none;
    padding-left: var(--spacing-sm);
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

.input-wrapper input:focus{
    border: 1px solid var(--background-color-light);
    box-shadow: 0 0 5px var(--background-color-light);
}

.input-wrapper input::placeholder{
    opacity: 0.7;
    font-weight: 400;
    font-size: 1rem;
}



/* signup role button */
.input-wrapper.role-wrapper{
    border: 0;
}

.role-wrapper{
    justify-content: space-around;
    column-gap: var(--spacing-sm);
}

.role-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + .radio-label{
    background-color: var(--heading-color);
    color: #FFF;
    
}

.radio-label{
    display: block;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

/* footer : login and signup buttons*/

.login-footer a,
input[type="submit"]{
    background-color: #FFF;
    height: 100%;
    color: var(--text-color-dark);
    font-weight: 600;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login-footer a:hover,
input[type="submit"]:hover{
    background-color: var(--heading-color);
    color: #FFF;
}

.login-alert{
    margin-top: -0.8rem;
    color: var(--color-warning);
}

.login-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 5px;
}

.login-footer .success_message{
    color: var(--correct-color);
}

.login-footer a{
    color: var();
}




@media (max-width:576px){

    .login-container{
        width: 100%;
    }

    .input-wrapper{
        height: 40px;
    }

    .input-wrapper input{
        font-size: 0.9rem;
    }

    a{
        font-size: 0.6rem;
    }
}

@media (max-width:390px) {
    
}



