main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
}

.login-container{
    height: fit-content;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: var(--spacing-sm);
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: var(--spacing-md);
}

.login-heading{
    background-color: var(--main-heading-color);
    padding: var(--spacing-md) 0;
}

h2{
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin: var(--spacing-md) 0;
}

.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    border: 1px solid var(--color-grey);
}

svg{
    fill: white;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--main-heading-color);
}

input{
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    border: none;
    padding-left: var(--spacing-sm);
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

input:focus{
    border: 1px solid var(--main-background-color);
    box-shadow: 0 0 5px var(--main-background-color);
}

input::placeholder{
    opacity: 0.7;
    font-weight: 400;
    font-size: 1rem;
}

.input-wrapper.role-wrapper{
    border: 0;
}

.role-wrapper{
    justify-content: space-around;
    column-gap: var(--spacing-sm);
}

.role-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid var(--color-grey);
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + .radio-label{
    background-color: var(--main-heading-color);
}

.radio-label{
    display: block;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

input[type="submit"]{
    background-color: var(--main-heading-color);
    height: 100%;
    color: white;
    font-weight: 600;
    transition: all 0.3 ease;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: white;
    color: var(--main-heading-color);
    border: 1px solid var(--main-heading-color);
}

.login-alert{
    margin-top: -0.8rem;
    color: var(--color-warning);
}

.login-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 5px;
}

.login-footer a{
    color: var(--main-background-color);
}

.login-footer a{
    color: var(--main-heading-color);
}

