

.exam-heading p{
    margin: 0;
}

.exam-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    box-sizing: border-box;
    background-color: var(--border-color);
    border-radius: 10px;
    padding: 0.7rem;
}

.input-wrapper label{
    font-size: var(--p-font-size);
}

.input-wrapper input{
    padding: 0.1rem;
    font-size: var(--p-font-size);
    border-radius: 5px;
}

.input-wrapper > input {
  width: 100%;
}

.input-wrapper.duration input {
  width: 35px;
}

/* right */
.float-container{
    position: fixed;
    margin: auto;
    max-width: 560px;
    width: 100%;
}

.quiz-card{
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.quiz-card_top{
    color: white;
    background-color: var(--heading-color);
    padding: 0 1rem;
}

.quiz-card_top-title{
    flex: 1;
    margin: 1rem 0; 
}

.quiz-card_top-info{
    column-gap: 1rem;
}

.quiz-card_top-info button{
    padding: 0.3rem;
    font-weight: 600;
}

.quiz-list .card .included_question{
    opacity: 0.4;
}